{% extends "base.html" %}
{% block content %}

<div style="text-align:center;">
    <img src="/static/images/allterms.jpg" alt="남북 전문용어 사개" width=50% height=auto/>
</div>
<div style="text-align:center;">
    <img src="/static/images/start.jpeg" alt="남북 전문용어 사개" width=4% height=auto/>
</div>
<div style="text-align:center;">
    <a href="{% url 'south:astroList' %}" class="navbar-brand">&nbsp;&nbsp;&nbsp;들어가기</a>
</div>
<div>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<div style="text-align:center;">
    <img src="/static/images/logo.jpg" alt="겨레말큰사전남북공동편찬사업회" width=30% height=auto/>
</div>
<div>
<br>
<br>
</div>
{% endblock %}
