{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
<!--    required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    simpeMDE css-->
    <link rel="stylesheet" type="text/css" href="{% static 'simplemde.css' %}">
<!--    Bootstrap CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<!--    qna css-->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<!-- 수식 -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- 코드 하이라이팅-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>hljs.highlightAll();</script>

    <title>겨레말 남북 전문용어</title>
</head>
<body>
<!--내비게이션바-->
{% include "navbar.html" %}
<!--기본 템플릿 안에 삽입될 내용 start-->
{% block content %}
    {% endblock %}
    <!--기본 템플릿 안에 삽일될 내용 end-->
    <!--simpleMDE js-->
    <script src="{% static 'simplemde.js' %}"></script>
    <!--Bootstrap JS-->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <!--자바스크립트 Start-->
    {% block script %}
{% endblock %}
<!--자바스크립트 End-->
<!--내비게이션바-->
</body>
<footer>
    {% include "footbar.html" %}
</footer>
</html>