<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a href="https://www.unikorea.go.kr/unikorea/" target="_blank"><img src="/static/images/footbn_logo1.png" alt="통일부"></a>
        <a href="https://www.nuac.go.kr/" target="_blank"><img src="/static/images/footbn_logo2.png" alt="민주평화통일자문회의"></a>
        <a href="https://www.korean.go.kr/" target="_blank"><img src="/static/images/footbn_logo3.png" alt="국립국어원"></a>
        <a href="https://www.uniedu.go.kr/" target="_blank"><img src="/static/images/footbn_logo9.png" alt="통일교육원"></a>
        <a href="https://uniculture.unikorea.go.kr/mpage" target="_blank"><img src="/static/images/footbn_logo4.png" alt="통일부 남북통화문화센터"></a>
        <a href="https://unibook.unikorea.go.kr/" target="_blank"><img src="/static/images/footbn_logo5.png" alt="통일부 북한자료센터"></a>
        <a href="https://www.moon.or.kr/" target="_blank"><img src="/static/images/footbn_logo6.png" alt="통일맞이"></a>
        <a href="https://www.hangeul.or.kr/" target="_blank"><img src="/static/images/footbn_logo7.png" alt="한글학회"></a>
   </div>
</nav>
